#outfitting {
	position: relative;
	border: 1px solid black;
	width: 200px;
	margin-bottom: 20px;
	padding: 5px 10px;
}

div#outfitting:before, div#perks:before {
	content: attr(data-legend);
	position: absolute;
	top: -13px;
	background-color: white;
}

div.outfitRow {
	position: relative;
	cursor: default;
	margin: 10px -30px 10px 0px;
}

div.inventoryCategory {
	position: relative;
	margin-top: 9px;
	padding-top: 8px;
	border-top: 1px solid #bbb;
}

div.inventoryCategory:first-of-type {
	margin-top: 3px;
}

div.inventoryCategoryTitle {
	color: #666;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: lowercase;
}

span.inventoryCategoryIcon {
	display: inline-block;
	width: 15px;
	color: #8b6f47;
	font-size: 12px;
	letter-spacing: 0;
}

div.inventoryCategoryItems div.outfitRow {
	margin-top: 7px;
	margin-bottom: 7px;
}

div.outfitRow > .row_val {
	padding-right: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.outfitRow .tooltip {
	width: 150px;
}

div#bagspace {
	background-color: white;
	position: absolute;
	top:-13px;
	right: 10px;
}

div#perks {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	cursor: default;
	padding: 5px 10px;
	width: 200px;
}

div.perkRow {
	position: relative;
}

div.perkRow .row_key {
	float: none;
}

#pathScroller {
	padding-top: 10px;
	position: relative;
	top: -10px;
	max-height: 660px;
	width: 475px;
	overflow-y: auto;
}
