.button {
	width: auto !important;
	min-width: 115px;
	max-width: 100%;
}

#outsidePanel .button {
	width: auto !important;
	min-width: 115px;
}

.eventPanel .button {
	width: auto !important;
	min-width: 122px;
}

.button .tooltip {
	width: 280px !important;
	max-width: calc(100vw - 16px);
}
