.button {
	width: 115px !important;
	min-width: 115px;
	max-width: 100%;
}

.eventPanel .button {
	width: 122px !important;
	min-width: 122px;
}

.button .tooltip {
	width: 280px !important;
	max-width: calc(100vw - 16px);
}
